<div id="main">
  <header class="row header navbar navbar-default" role="banner">
    <a href="/public/dist/#/products" class="header-logo col-xs-4 col-sm-3">
      <img src="images/direct-logo.jpg" alt="" />
    </a>
    <div class="header-description col-xs-5 text-uppercase">
        The best shop ever!
    </div>
    <form action="search" method="get" class="col-xs-5 col-sm-3">
        <input type="text" name="search-field" class="header-search form-control" placeholder="Search"/>
    </form>
    <a href="/public/dist/#/cart" class="header-cart col-xs-3 col-sm-1">
      <img src="images/cart-icon.jpg" alt="" />
    </a>
  </header>

  <div ui-view class="row"></div>
</div>
