<div class="col-xs-12 col-md-4 col-lg-3" id="products-menu">
  <h3 class="menu-header">
    Main Menu
  </h3>
  <ul class="nav nav-sidebar">
    <li ng-repeat="category in products.categories track by $index" ng-class="active" class="category-item text-uppercase"><a href="#" ng-click="products.getGoods(category)">{{ category }}</a></li>
  </ul>
</div>
<div class="content col-xs-12 col-md-8 col-lg-9" id="products-sheet">
  <div class="filters row">
    <div class="items-order col-xs-6 col-md-3">
      <select class="form-control" name="order" ng-model="products.order">
        <option value="" disabled selected>Sort by</option>
        <option value="name">by Name (A-Z)</option>
        <option value="-name">by Name (Z-A)</option>
        <option value="price">by Price: lowest first</option>
        <option value="-price">by Price: highest first</option>
      </select>
    </div>
    <div class="items-filter col-xs-6 col-md-3">
      <input type="text" class="form-control col-xs-4 col-md-3" name="name" ng-model="porducts.filterName" placeholder="Filter by Name">
    </div>
  </div>
  <div class="item" ng-repeat="item in products.items | orderBy: products.order | filter: {name:porducts.filterName}">
    <div class="item col-xs-12 col-sm-6 col-md-4">
      <div class="thumbnail">
        <img class="group list-group-image" src="{{ item.image || 'images/no-image.jpg' }}" alt="" />
        <div class="caption">
          <h4 class="group inner list-group-item-heading">{{ item.name }}</h4>
          <p class="group inner list-group-item-text">{{ item.description }}</p>
          <p class="group inner list-group-item-category">Category: <strong>{{ item.category }}</strong></p>
          <div class="row">
            <div class="col-xs-12 col-md-6">
              <p class="lead">{{ item.price | currency }}</p>
            </div>
            <div class="col-xs-12 col-md-6">
              <button class="btn btn-success col-xs-12" ng-click=products.addToCart(item)>Add to cart</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
